@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h2, h3, p {
  font-family: "Quicksand", sans-serif;
}

h2 {
  color: white;
}

h1, li, a {
  font-family: "Pangolin", cursive;
}


h2 {
  font-size: 2em;
}

.body-note {
  font-size: .5em;
}

#update-line {
  color: #EEDC82;
}
#copyright-line {
  color: white;
}

img {
  /*max-width: 100px;*/
  box-shadow: 5px 5px 5px #1E3F66
}

.header-grid, .footer-grid {
  background-color: #2E5984; /*#0077b6;*/
  box-shadow: 5px 5px 5px #999999;
}

.header-grid {
    display: grid;
  grid-template-columns: 2fr 8fr;
}

.img-box {
  display: grid;
  justify-items: left;
  align-items: center;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.name-box {
  display: grid;
  justify-items: left;
  align-items: center;
  padding-top: 3em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
}
.update-div {
  display: grid;
  justify-items: left;
}
.copyright-div {
  padding-left: 2em;
}