@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800;900&display=swap');

* {
    font-family: "Quicksand", sans-serif;
  }

h1 {
    text-align: center;
    color: rgb(64, 64, 117);
    font-weight: 900;
    font-family: "Mulish", sans-serif;
}
h2 {
    color: rgb(64, 64, 117);
    font-weight: 800;
    font-family: "Mulish", sans-serif;
}
section {
    text-align: center;
    background-color: rgb(190, 190, 222);
    width: 20rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border: 1px solid rgb(64, 64, 117);
}
img {
    width: 10rem;
    box-shadow: 4px 4px rgb(96, 96, 146);
}
.cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 1rem;
    gap: .5rem;
    background-color: rgb(240, 235, 235);
    box-shadow: 10px 10px 10px 10px;
}
