@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mukta+Malar&display=swap');

h1, h2, h3, p, a {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  margin: 0px; 
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

header {
  background-color: #0e2338;
  padding: .5em;
}

.principle-grid {
  background-color: #e6e6e6;
  border: 1px solid grey;
  margin: .5em;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

h3 {
  background-color: #253342;
  margin-top: 0px;
  padding: .5em;
  color: white;
}

a {
  color: blue;
}

p, a {
  padding: 0px .5em;
}

img {
  width: 100%;
}
.has-img {
  border: 1px solid grey;
  margin: .5em;
}

footer {
  background-color: #0e2338;
  padding: .1em;
}

#copyright-line {
  color: white;
  text-align: center;
}
#primary {
  background-color: #213458;
}
#secondary {
  background-color: #f6e8e8;
  color: black;
}
#first-accent {
  background-color: #524859;
}
#second-accent {
  background-color: #839fa0;
}
#example-heading {
  font-family: 'ABeeZee', sans-serif;
}
#example-paragraph {
  font-family: 'Mukta Malar', sans-serif;
}
/*
    font-family: 'ABeeZee', sans-serif;

    font-family: 'Mukta Malar', sans-serif;
*/