@media (min-width: 1010px) {
header {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas:
    "lb pl pl pl sb"
    "up up up up up";
}
.logo-box {
    margin: 0;
    padding: 0;
}
.has-burger {
    display: none;
}
.primary {
    display: grid;
    grid-area: pl;
}
.primary ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: right;
    gap: 3em;
}
.primary ul li {
    display: inline;
    font-size: 1.25em;
    text-decoration-line: none;
}
.social-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
  main {
    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    grid-template-areas:
    "event hero spot"
    "weather join spot"
    "news news spot";
    gap: 1em;
}
.spotlight-div {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5em;
    gap: 0em;
}
.spotlight-div div {
    margin: 0;
}
.hero {
    width: 100%;
    height: 100%;
}
.spotlight-div > :last-child {
    display: block;
}
footer {
    display: grid;
    grid-template-areas:
    "log ad ad con con"
    "hr hr hr hr hr"
    ". up up up ."
    ". up up up .";
    padding: 1em;
}
.footer-logo {
    justify-self: right;
}
.address {
    justify-self: left;
}
.contact {
    justify-self: left;
}
}