@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mukta+Malar&display=swap');

* {
  font-family: "Quicksand", sans-serif;
}


header {
  display: grid;
  background-color: #213458;
  grid-template-areas:
  "lb lb lb lb sb sb bb"
  "up up up up up up up";
  padding-bottom: .5em;
}

header * {
  color: #f6e8e8;
}

header p {
  font-size: .75em;
}

.social-box {
  grid-area: sb;
  display: flex;
  align-items: center;
}

.primary {
  display: none;
}
.drop-down {
  display: none;
}
.header-logo, .social-logo {
  width: 32px;
}

.logo-box {
  grid-area: lb;
  display: flex;
  align-items: center;
}
.logo-box p {
  margin: 0;
}

h1 {
  font-size: .9em;
  margin: 0;
}

.header-logo {
  padding: .4em;
}

.has-burger {
  grid-area: bb;
}
.has-button, .burger-button {
  width: 2em;
  height: 2em;
  border: 1px solid rgb(84, 83, 83);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: .35em 1em;
}
#date-div {
  grid-area: up;
  text-align: center;
  background-color: #404b5e;
  margin: 0 .5em;
}
a {
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin-top: 1em;
  /*margin-bottom: 5em;*/
}
main div {
  background-color: #f0eaea;
  height: 10em;
  margin: .5em 0;
  font-style: italic;
  border: 1px solid #c9c3c3;
}
.spotlight-div {
  height: auto;
}
.spotlight-div > :last-child {
  display: none;
}
.join {
  display: none;
}
footer {
  display: grid;
  justify-items: center;
  background-color: #213458;
  padding-top: 1em;
}
footer * {
  color: #f6e8e8;
  text-align: center;
}
.footer-logo {
  padding: 1em;
}
.address * {
  margin: .1em;
  font-style: italic;
}
.address > :first-child {
  font-weight: bold;
  font-style: normal;
}
hr {
  width: 100%;
  color: rgb(84, 83, 83);
}
.my-name {
  font-weight: bold;
}
.bottom-line {
  margin: .5em;
}
.bottom-line li {
  display: block;
  list-style-type: none;
  font-size: .9em;
}

/*
#primary {
  background-color: #213458;
}
#secondary {
  background-color: #f6e8e8;
  color: black;
}
#first-accent {
  background-color: #524859;
}
#second-accent {
  background-color: #839fa0;
}
#example-heading {
  font-family: 'ABeeZee', sans-serif;
}
#example-paragraph {
  font-family: 'Mukta Malar', sans-serif;
}
*/
/*
    font-family: 'ABeeZee', sans-serif;

    font-family: 'Mukta Malar', sans-serif;
*/