@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mukta+Malar&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800;900&display=swap');

:root {
  --white-oak-blue: #213458;
  --white-oak-yellow: #FFFA93;
  --white-oak-light-blue: #c4d8fd;
}

* {
  font-family: "Quicksand", sans-serif;
}

header {
  display: grid;
  background-color: #213458;
  grid-template-areas:
  "lb lb lb lb sb sb bb"
  "up up up up up up up";
  padding-bottom: .5em;
}

header * {
  color: #f6e8e8;
}

header p {
  font-size: .75em;
}

.social-box {
  grid-area: sb;
  display: flex;
  align-items: center;
}

.primary {
  display: none;
}
.drop-down {
  display: none;
}
.header-logo, .social-logo {
  width: 32px;
}

.logo-box {
  grid-area: lb;
  display: flex;
  align-items: center;
}
.logo-box p {
  margin: 0;
}

h1 {
  font-size: .9em;
  margin: 0;
}

.header-logo {
  padding: .4em;
}

.has-burger {
  grid-area: bb;
}
.has-button, .burger-button {
  width: 2em;
  height: 2em;
  border: 1px solid rgb(84, 83, 83);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: .35em 1em;
}
#date-div {
  grid-area: up;
  text-align: center;
  background-color: #404b5e;
  margin: 0 .5em;
}
a {
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin-top: 1em;
  /*margin-bottom: 5em;*/
}
.banner {
  display: none;
  font-size: .8em;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0em;
  padding-top: .5em;
  padding-bottom: .5em;
  height: 1em;
  width: 100%;
  text-align: center;
  background-color:	#fffa93;
  /*background-color: #fafc6a;*/
  color: #213458;
  font-weight: bold;
  border: 1px solid grey;
}
.event-box {
  background-color:  	#213458;
  color: #f6e8e8;
  min-height: 10em;
  margin: .5em 0;
  box-shadow: 0px 8px 5px #767676;
}
.event-box-shadow {
  box-shadow: 0px 8px 5px #767676;
}
/*main div {
  background-color: #f0eaea;
  font-style: italic;
}*/
.hero picture, .hero picture img {
  width: 100%;
  filter: brightness(75%);
}
img[data-src] {
  filter: blur(.2em);
}
img.unblur {
  filter: blur(0em);
  transition: filter 2s;
}
.hero {
  overflow: hidden;
  position: relative;
  height: 10em;
  background: transparent;
  max-height: 18em;
}
.hero-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
}
.hero-grid h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.3em .5em;
  margin: 0;
  background-color: transparent;
  color: #FFFA93;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  text-shadow: 0 0 2px #213458;
}
.hero-grid div {
  font-size: 1.5em;
  position: absolute;
  top: 4em;
  right: 1em;
  height: auto;
  margin-bottom: .5em;
  padding: .4em 1em;
  background-color:	#fffa93;
  /*background-color: #fafc6a;*/
  color: #213458;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 14px;
}
/*.hero-grid h2 {
  color: white;
  font-style: normal;
  text-align: center;
  background-color: #213458;
  height: auto;
  opacity: 1;
  padding: .4em;
  margin: 0;
  grid-area: wel;
  font-size: 1.25em;
}
.hero-grid div {
  color: white;
  background-color: #213458;
  opacity: 1;
  padding: .4em;
  height: auto;
  border: 1px solid grey;
  border-radius: 14px;
  grid-area: jo;
}*/
h2 {
  text-align: center;
  font-size: 1.3em;
  color: #fffa93;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-shadow: 0 0 10px #7A8370;
}
.event {
  text-align: center;
}
.event * {
  margin-left: 1em;
  margin-right: 1em;
}
.event p {
  margin-bottom: 0em;
}
.event a {
  display: block;
  margin-top: .25em;
  margin-bottom: 2em;
  color: #fffa93;
}
a:hover {
  color: grey;
}
.weather {
  margin-right: 3em;
  margin-left: 3em;
  padding-bottom: 1em;
}
.weather h2 {
  text-align: center;
}
.weather img {
  max-width: 9em;
  margin-left: 1em;
}
.temp {
  font-size: 2em;
  float: right;
  margin-right: 1.5em;
  margin-top: 2em;
  font-weight: bold;
}
.cover {
  float: right;
  clear: right;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 2em;
  margin-bottom: .25em;
}
.line-break, .spotlight-break{
  border: 1px solid white;
  clear: right;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: 2.5em;
}
hr {
  clear: right;
  border: 1px solid white;
  max-width: 16em;
  margin: 0;
  padding: 0;
}
.weather .table {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather div p {
  margin: 0;
}
.weather-icon {
  width: 10rem;
}
.news {
  text-align: center;
  padding: 0 2em;
}
.spotlight-div {
  text-align: center;
  display: grid;
  height: auto;
}
.spotlight img {
  max-width: 5em;
  max-height: 5em;
}
.spotlight {
  height: auto;
  border: 1px solid #c9c3c3;
}
.tag-line {
  font-weight: bold;
}
.spotlight-div > :last-child {
  display: none;
}
.join {
  display: none;
}
/*
.discover-grid {
  background-color: #e6e6e6;
  border: 1px solid grey;
  margin: .5em;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.discover-grid h2 {
  background-color: var(--white-oak-blue);
  margin-top: 0px;
  padding: .5em;
}

.discover-grid a {
  color: blue;
}

.discover-grid p, .discover-grid a {
  padding: 0px .5em;
}

.discover-grid img {
  width: 100%;
}
.discover-grid .has-img {
  border: 1px solid grey;
  margin: .5em;
}*/
.discover-default-grid {
  display: grid;
  justify-items: center;
}
.discover-hero {
  display: grid;
  justify-items: center; 
}
.small-discover-grid {
  display: grid;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.medium-and-large-discover-grid {
  display: none;
}
.discover-picture-box {
  display: grid;
  justify-items: center;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  min-width: 0;
}
.discover-picture-box picture {
  display: grid;
  justify-items: center;
}
.discover-img {
  margin: 0;
  padding: 0;
}
.shadow {
  border: 2px solid rgb(184, 184, 140);
  box-shadow: 5px 5px 5px #A6AB7B
}
.has-join-img {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
.has-join-img img {
  filter: brightness(50%);
}
.membership, .application {
  position: absolute;
  font-size: 3em;
}
.membership {
  padding-bottom: 2em;
}
.application {
  padding-top: .5em;
}
.has-form {
  margin-left: 1rem;
  margin-right: 3rem;
}
form fieldset {
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: var(--white-oak-yellow);
  margin-left: 0;
  margin-bottom: -.75rem;
  padding: .5rem .5rem;
  border-radius: 10px;
  background-color: var(--white-oak-blue);
}
form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}
form input.submitBtn {
  border: none;
  background-color: #d1b219;
  font-weight: 1000;
  color: rgb(3, 69, 2);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid, input:valid {
  border-left: green solid 6px;
}
.thank-you {
  background-color: var(--white-oak-blue);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}
.membership-box {
  display: none;
}
.has-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
.has-view img {
  width: 6rem;
  border: 5px solid transparent;
  border-radius: 10px;
}
.grid-icon {
  justify-self: end; /*#4a5568;*/
}
.list-icon {
  justify-self: start;
}
.cards section h2 {
  color: var(--white-oak-blue);
  font-weight: 800;
  font-family: "Mulish", sans-serif;
}
.cards section a {
  color: var(--white-oak-blue);
}
.cards section a:hover {
  color: blue;
  transition: color .5s;
}
.cards section {
  text-align: center;
  width: 20rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  box-shadow: 0px 5px 20px 5px grey;
}
.cards section img {
  width: 10rem;
}
.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 1rem;
  gap: .5rem;
  background-color: rgb(240, 235, 235);
  box-shadow: 10px 10px 10px 10px grey;
  margin-bottom: 3rem;
}
td {
  display: block;
  margin: .4rem;
}
tbody tr:nth-child(even) {
	background-color: rgb(227, 231, 239);
}
table {
  border-spacing: 0 .5rem;
}
footer {
  display: grid;
  justify-items: center;
  background-color: #213458;
  padding-top: 1em;
}
footer * {
  color: #f6e8e8;
  text-align: center;
}
.footer-logo {
  padding: 1em;
}
.address * {
  margin: .1em;
  font-style: italic;
}
.address > :first-child {
  font-weight: bold;
  font-style: normal;
}
hr {
  width: 100%;
  color: rgb(84, 83, 83);
}
.my-name {
  font-weight: bold;
}
.bottom-line {
  margin: .5em;
}
.bottom-line li {
  display: block;
  list-style-type: none;
  font-size: .9em;
}

/*
#primary {
  background-color: #213458;
}
#secondary {
  background-color: #f6e8e8;
  color: black;
}
#first-accent {
  background-color: #524859;
}
#second-accent {
  background-color: #839fa0;
}
#example-heading {
  font-family: 'ABeeZee', sans-serif;
}
#example-paragraph {
  font-family: 'Mukta Malar', sans-serif;
}
*/
/*
    font-family: 'ABeeZee', sans-serif;

    font-family: 'Mukta Malar', sans-serif;
*/