/*up to 1040
*/

@media (min-width: 749px) {
    .product-left-grid {
        justify-self: right;
        width: 15rem;
    }
    .product-right-grid {
        justify-self: center;
        width: 15rem;
    }
    .product-right-grid p {
        max-height: 2rem;
        margin-top: -4rem;
        margin-right: 1rem;
    }
    .info-card {
        display: none;
    }
    .info-card2 {
        display: block;
        width: 15rem;
        margin-top: 1rem;
        margin-left: -3rem;
    }
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0rem;
    }
}